@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand&display=swap');

* {
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Open Sans", serif;
    
}
#home {
    background-image: url(./img.jpg);
    height: 100vh;
    background:linear-gradient(0deg, rgba(50, 219, 198, 0.3), rgba(192, 240, 234, 0.2)), url(./img.jpg);
    background-size:cover;
}
/*Style Info Container*/
.info-container {
    background: #343a40;
    padding: 6px;
    text-align: center;
    line-height: 1.6;
    
}
.info-container strong {
    color: #fff;
}
.info-container p {
    text-align: center;
}

.info-container a {
    color: #32dbc6;
    text-decoration: none;
}

.info-container a:hover {
    color: #14ad9c;
}

.social-media-icons .fab{
    color: #32dbc6;
    cursor: pointer;
    margin: 5px;
}

.social-media-icons .fab:hover{
    color: #14ad9c;
}

/*Style Navbar*/
nav {
    height: 6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.6);
}
nav h1{
    font-size: 2em;
    margin-left: 1em;
    cursor: pointer;
    
}
nav span {
    color: #14ad9c;
}
.menu {
    display: none;
}
.menu a {
    text-decoration: none;
    color: #000;
}
.menu a:hover {
    color: #14ad9c;
}

.hamburger {
    margin-right: 1em;
    cursor: pointer;
}

.hamburger .fas {
    font-size: 26px;
    margin: 1em;
}
.sidebar {
    width: 300px;
    height: 100%;
    background-color: #ccc;
    position: fixed;
    top: 0;
    right: -300px;
    display: flex;
    flex-direction: column;
    transition: right 0.8s ease-in-out;
    z-index: 2;
}

.change {
    right: 0;
}
.sidebar ul {
    margin-left: 2em;
    margin-top: 4em;
    list-style: none;
}
.sidebar li {
    padding: 1em;
    font-size: 1.2em;
}
.close-btn {
    display: flex;
    justify-content: flex-end;
    font-size: 1.5em;
    color: #14ad9c;
    margin: 1em;
}

.show-sidebar {
    transform: translate(0);
}

.line {
    width: 100%;
    border-bottom: 0.001px solid rgba(255, 255, 255, 0.3);
}

.text-home {
    text-align: center;
    color: #fff;
    padding: 1em;
}
.text-home h1 {
    letter-spacing: 2px;
    padding: 0.5em;
    font-size: 2.5em;
    font-weight: 900;
}

.text-home p {
    font-size: 1.2em;
    padding: 0.5em;
}
.text-home button {
    padding: 16px 32px;
    font-size: 1em;
    color: #fff;
    margin: 2em auto;
    background-color: #14ad9c;
    border: none;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.scroll-downs {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;    
    width :34px;
    height: 55px;
  }
  .mousey {
    width: 3px;
    padding: 7px 12px;
    height: 30px;
    border: 2px solid #98f7ec;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
    margin-top: 3em;
  }
  .scroller {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #98f7ec;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }
  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
  }

  /*Work section styles*/

  #work h2{
    padding: 0.5em;
    margin-top: 2em;
    text-align: center;    
    color: #14ad9c;
    font-size: 38px;
    font-weight: 200;
  }
  #work p {
      padding: 1em;
      text-align: justify;
      font-size: 18px;
      font-weight:lighter;
      text-align: center;
      margin: 0 10%;
      margin-bottom: 2em;
      color: rgb(146, 146, 146);
  }

  .project-grid {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
  }

  .container{
    grid-column: span 12;
    width: 100%;
    height: 418px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }
  .container img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  
  .container:hover .overlay{
    opacity: 1;
    transform: scale(1);
  }
  
  .overlay{
    position: absolute;
    background-color: rgba(50, 219, 198, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(1.3);
    opacity: 0;
    transition: transform .4s ease 0s;
  }
  
  .overlay span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 2em;
    color: #fff;
    font-family: Sans-serif;
  }
  
  .container img{
    transition: transform .8s ease;
  }
  
  .container:hover img{
    transform: scale(1.1);
  }

/*Service section*/

.services-container {
    background: #f8f9fa;
    color: #929292;
}
.services-container h2 {
    padding-top: 2em;
    text-align: center;
    color: #14ad9c;
    font-size: 38px;
    font-weight: 200;
}

#services {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    
}
.service {
    grid-column: 2/12;
    padding: 2em;
    margin-top: 2em;
    display: flex;
    justify-content: space-around;
}
.service i {
    font-size: 40px;
    color: #14ad9c;
    padding-right: 16px;
    
}
.service h4 {
    font-weight: 200;
    font-size: 20px;
    padding-bottom: 10px;
    letter-spacing: 1.1px;
}

.service p {
    line-height: 1.5em;
    letter-spacing: 1.1px;
    padding-bottom: 10px;
}
.service a {
    text-decoration: none;
    color: #14ad9c;
}

.service a:hover {
    color: #109283;
}

/*team section*/
#team {
    padding-top: 2em;
    text-align: center;
}

#team h2 {
    padding-top: 2em;
    margin-bottom: 2em;
    text-align: center;
    color: #14ad9c;
    font-size: 38px;
    font-weight: 200;
}

.teams img {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}
.team-section {
    padding: 2em;
}
.team-section h4 {
    padding-top: 1em;
    font-size: 22px;
    font-weight: 200;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.team-section p:first-of-type {
    color: #afabab;
    font-size: 12px;
    margin-bottom: 2em;
}
.team-section p:last-of-type {
    margin: 0 15%;
    margin-bottom: 1em;
    letter-spacing: 1.5px;
}

/*contact section*/
.contact-container {
    background: #f8f9fa;
    padding: 2em;
}

.contact-container h2  {
    padding-top: 2em;
    margin-bottom: 12px;
    text-align: center;
    color: #14ad9c;
    font-size: 38px;
    font-weight: 200;
}

.location, .mail, .phone {
    text-align: center;
    padding: 10px;
}

.contact-container i {
    color: #14ad9c;
}

.contact-container i, .contact-container p {
    padding: 6px;
}

form {
    padding: 2em;
    margin: 2em;
    background: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

form h4 {
    margin: 0 5%;
    padding-bottom: 1em;
    font-size: 1.5em;
    font-weight: 200;
}
label, input, textarea, button {
    display: block;
    margin: 0 5%;
}
input, textarea {
    padding: 16px;
    width: 90%;
    border-radius: 20px;
    border: 2px solid #14ad9c;
}
input:focus, textarea:focus {
    outline: none;
    border: 2px solid #14ad9c;
}
form button {
    padding: 20px;
    margin-top: 20px;
    font-size: 16px;
    width: 150px;
    border-radius: 20px;
    background: #14ad9c;
    color: #fff;
    border: none;
}

button:hover {
    background: #000;
}

footer {
    background: #333;
    padding: 2em;
    text-align: center;
}

footer h4 {
    color: #fff;
    margin-bottom: 12px;
}
footer ul {
    list-style-type: none;
    color: rgba(255, 255, 255, 0.3);
    display: flex; 
    justify-content: center;   
    
}
footer a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
    margin-right: 12px;
}

footer a:hover {
    color:rgba(255, 255, 255, 0.6)
}
 footer .social-media-icons {
     margin-top: 22px;
     padding-left: 0;
 }

 footer p {
    color: rgba(255, 255, 255, 0.4);
 }


@media screen and (min-width: 650px) {
    /*Work section styles*/
    .container {
        grid-column: span 6;
    }
    
}

@media screen and (min-width: 960px) {

    body {
        font-size: 18px;
    }

    /*Style Info Container*/
    .info-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 8px;
    }
    .phone-email {
        display: flex;
    }
    .info-container p {
        margin-left: 50px;
        margin-right: 20px;
    }
    .social-media-icons {
        margin-right: 50px;
    }
    .social-media-icons .fab {
        margin-left: 10px;
        margin-right: 10px;
    }
    .text-home h1 {
        font-size: 3.2em;
        padding: 0.5em;
    }
    .hamburger, .close-btn {
        display: none;
    }
    .menu {
        display: block;
    }
    .menu ul{
        display: flex;
        flex-direction: row;
        list-style: none;
        margin-right: 2em;
    }
    .menu li{
        padding: 0.7em;
        color: #000;
        font-weight: 500;
        cursor: pointer;
    }
    .menu a:hover{
        color: #14ad9c;
    }
    .text-home p {
        margin: 0 10%;
    }
    .container {
        grid-column: span 4;
    }

    .service {
        grid-column: span 6;
        flex-direction: column;
    }
    .service i {
        padding-bottom: 10px;
    }
    .teams {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }
    .team-section {
        grid-column: span 6;
    }
    .address-container {
        display: flex;
        justify-content: center;
        font-size: 24px;
        margin-top: 24px;
    }
    .location {
        grid-column: 2/4;
    }
    .phone {
        grid-column: 5/7;
    }
    .mail {
        grid-column: 8/10;
    }
    form {
        width: 60%;
        margin: 2em auto;
    }
    form button {
        width: 30%;
    }
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        background: #fff;
        z-index: 100;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
}

@media screen and (min-width: 1200px) {
    .service {
        grid-column: span 4;
    }
    .team-section {
        grid-column: span 6;
    }
}